<section class="screen screen-authors center">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h1 class="screen-title">Printing Reality</h1>
					<p class="text-center">Projekt inom hållbar utveckling AG1814</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<div class="authors">
					<p class="text-center">Lisa Lund</p>
					<p class="text-center">Malte Davidsson</p>
					</div>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<div class="authors">
					<p class="text-center">Pontus Nilsson</p>
					<p class="text-center">Tedy Warsitha</p>
					</div>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					
				</div>
			</div>
		</div>
	</div>
</section>
<section class="page-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h2>Om projektet</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="square-panel">
					<div class="square-content">
						<div>
							<span><img ng-src="assets/img/test4.png" /></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="entry-content">
					<h3>Varför är PrintingReality bra?</h3>
					<p>Vi erbjuder en tjänst som med hjälp av 3D-skrivare bland annat kan förlänga livslängen på dina ägodelar genom att skriva ut reservdelar så att du inte behöver byta ut en hel produkt bara för att en komponent är trasig. Eftersom vi erbjuder denna tjänst lokalt och skriver ut dina reservdelar och produkter i ditt närområde så minskar utsläppen och du slipper betala för frakt från stora fabriker med dåliga arbetsförhållanden i Asien. Dessutom vet du precis vad alla våra produkter innehåller och hur de tillverkas så att du kan känna dig säker på att din produkt inte innehåller några giftiga ämnen. 
					</p>
				</div>
				<div class="entry-content">
					<h3>Är 3D-utskrifter miljövänliga?</h3>
					<p>
					Ja, inom vissa användingsområden. När det gäller massproduktion är formgjutning fortfarande mer miljövänligt än 3D-utskrift, men när det kommer till att producera enstaka komponenter i liten skala är skrivaren bättre. Det är på grund av hur mångsidig en 3D-skrivare är. Med formgjutningsmetoden behövs nya verktyg för varje ny produkt medan en skrivare endast kräver en ritning och material att skriva ut med. Därför är det både miljömässigt och ekonomiskt lönsammare att använda 3D-utskrift i liten skala som lokalproducerinig av reservdelar eller prototyper. En 3D-skrivare drar i genomsnitt ca 100 watt under första halvtimmen, vilket är lika mycket som en standard stationär dator använder. På dessa 30 minuter kan man t.ex. skriva ut ett enkelt dörrhantag.
					</p>
				</div>
			</div>
		</div>
	</div>		
</section>
<section class="page-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-push-6">
				<div class="square-panel">
					<div class="square-content">
						<div>
							<span><img ng-src="assets/img/test1.jpg" /></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-md-pull-6">
				<div class="entry-content">
					<h3>Vad innehåller våra produkter?</h3>
					<p>Vi använder oss i största möjliga mån av biologiskt nedbrytbara material. Plastsorten PLA som framställs av majsstärkelse eller rörsocker är vårt vanligaste material.
					</p>
				</div>
				<div>
					<h3>Vad finns det för nackdelar?</h3>
					<p>PLA är relativt känsligt för värme och plasten vi använder som standardmaterial börjar förlora formen vid ca 60° och smälter runt 175°. Vi erbjuder dock även produkter utskrivna i värmeresistent PLA som börjar förlora formen vid 110°. Att använda 3d-skrivare för att tillverka föremål i metall är betydligt mer energikrävande men i vissa fall sparar man fortfarande på energi eftersom att spillet minskar och att vissa metaller är energikrävande att ta fram.</p>
					<p>
					Denna tjänst är heller inte tänkt att ersätta massproduktion av produkter, då 3D-skrivarens energiförbrukning vid massproduktion kan vara något högre än motsvarande för formgjutning. Tjänsten är istället tänkt att användas för reservdelar eller för specialdesignade prdukter.
					</p>
				</div>
				<div class="entry-content">
					<h3>Hur mycket miljöpåverkan har våra produkter?</h3>
					<p>Detta skiljer sig väldigt mycket mellan produkterna beroende på dess storlek och uppbyggnad.  Vi har som mål att kunna erbjuda en visuell representation av detta på varje produkts sida, men det är än inte implementerat.
					</p>
				</div>
			</div>
		</div>
	</div>		
</section>