<section class="page-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h2>Litteraturstudie</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">

			</div>
			<div class="col-md-6">
				<div class="entry-content">
					<h3>Hur mycket drar skrivare?</h3>
					<p><a href="http://pubs.acs.org/doi/pdf/10.1021/sc400093k">Studie</a> hänvisas till från <a href="http://www.techthefuture.com/technology/3d-printing-beats-mass-production-in-energy-efficiency">Techthefuture</a>.</p>
					<blockquote>
					<p>For the first 30 minutes of the print, the power usage was:
					<dl class="compact">
						<dt>Average:</dt> 
						<dd>105 watts</dd>
						<dt>Min:</dt> 
						<dd>37.7 watts</dd>
						<dt>Max:</dt> 
						<dd>169.6 watts</dd>
					</dl>
					</p>
					</blockquote>
					<p>~100W <a href="http://reprage.com/post/39698552378/how-much-power-does-a-3d-printer-use/">(RepRage)</a></p>
					<blockquote>
						<p>An example of a design project gone haywire. These nearly identical variations of a design in progress were found littering the floor next to a 3D printer in a university lab. It's a good thing that a student could fabricate so many design prototypes in a single night. However, easy access to manufacturing tools might encourage a polluting, "physical debugging" mindset.</p>
					</blockquote>
				</div>
			</div>
		</div>
	</div>		
</section>
<section class="page-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-push-6">
			</div>
			<div class="col-md-6 col-md-pull-6">
				<div class="entry-content">
					<blockquote>
						<h4>Bursty manufacturing and renewable energy</h4>
						<p>
						Renewable energy is key to greener manufacturing. However, most <a href="http://www.google.com/url?q=http%3A%2F%2Fwww.livescience.com%2F16968-renewable-energy-consumption-infographic.html&sa=D&sntz=1&usg=AFQjCNHRmbg3plOYUOHtRc7vbg3dSrSxvg">renewable energy sources today</a> can't yet provide (at a reasonable price) the incessant, reliable stream of power needed to fuel mass-manufacturing operations.
						</p>
						<p>What if small bursts of renewable energy could be applied to small bursts of manufacturing activity? Computer scientists call the transmission of electrical signals of vastly differing sizes "bursty communication." Why not a future in which "bursty energy" would be applied to "bursty 3D-printed manufacturing?</p>
						<p>Despite improvements in storage technologies and smart-energy grids, renewable energy may always be more prone to fits and starts than burning gas or coal. However, a 3D printer is a versatile beast and can turn on a dime, production-wise. A small manufacturing facility of the future could run several 3D printers, each making a wide variety of different products. This facility could be powered with set amounts of stored renewable energy that would fuel scheduled start-and-stop 3D-printed production runs. Someday, it would be great to see agile 3D-printing facilities that would rapidly adjust fabrication rates to the level of available renewable power, instead of the other way around.</p>
						<p>As Earth staggers under the weight of pollution, humanity needs to better balance the health of the environment against a global consumer economy that grows larger each year. Despite its promise as a manufacturing technology, there's nothing innately green about 3D printing. As 3D-printing technologies become more widely used in all industries, the resulting environmental impact will depend on how these emerging technologies are put to use.</p>
					</blockquote>	
					<p><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.livescience.com%2F38323-is-3d-printing-eco-friendly.html&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFyP96RD743F-zD53BAyb_stxHhFw">(LiveScience)</a></p>
				</div>
			</div>
		</div>
	</div>		
</section>
<section class="page-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
			</div>
			<div class="col-md-6">
				<div class="entry-content">
				<blockquote>
					<p>3D printing is a useful weapon in the fight against planned obsolescence, extending the life of products after a damaged or worn part is out of production – which has to be a good thing for sustainability. A recent economic analysis<a href="http://www.google.com/url?q=http%3A%2F%2Fwww.ecosmagazine.com%2F%3Fpaper%3DEC13276%23FN1&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNG6XFX11H3z5C11SNUfT57DUOdKVg">1</a>of home-based 3D printers has shown the average family could save thousands of dollars by printing commonly used objects at home, instead of buying ready-made.</p>
					<p>But it’s not just about consumer products. 3D printing has made its way into science laboratories. Medical researchers have already printed personalised hip replacements, skull patches and prostheses.</p>
					<p>The aerospace industry and NASA have welcomed the technology, with lighter ‘printed’ parts leading to massive fuel and greenhouse gas savings.</p>
				</blockquote>
				</div>
			</div>
		</div>
	</div>		
</section>
<section class="page-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-push-6">
			</div>
			<div class="col-md-6 col-md-pull-6">
				<div class="entry-content">
					<blockquote>
						<h3>Energy hungry – or not?</h3>
						<p>Critics claim 3D printing machines use a lot of electricity. Electricity consumption is certainly a factor in some of the large industrial machines. A 2008 UK study showed that, within a manufacturing environment, large 3D printers using heat or a laser to melt plastic consumed 50–100 times more electrical energy than conventional injection-moulding to make similar objects.</p>
						<p>However, for custom production, the opposite is true, says Dr Christopher Tuck from the University of Nottingham in the UK. This is because for each new product made by injection moulding, new tooling is required, resulting in more energy consumption than, for example, <a href="http://www.google.com/url?q=http%3A%2F%2Fen.wikipedia.org%2Fwiki%2FSelective_laser_sintering&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHVYO1Ix6--WXFEEueNuPg96XWZAg">laser sintering</a>.</p>
						<p>CSIRO’s John Barnes says standard laser 3D printers, which need to run chillers and other equipment, are far less efficient than the electron-beam units CSIRO uses for titanium printing.</p>
						<p>The electricity consumption argument is not really applicable to smaller desktop 3D printers, according to Joshua Pearce from Michigan Technological University in the US.</p>
						<p>Professor Pearce says his team’s research on the environmental and economic effects of desktop 3D printing compared with traditional manufacturing show the claim that these printers are energy-hungry is ‘simply not true’.</p>
						<p>‘They have the power draw approximately equivalent to a laptop computer,’ he points out.</p>
						<p>Prof. Pearce says home 3D printers will soon use even less energy. ‘Many desktop 3D printers are now shipping without <a href="http://www.google.com/url?q=http%3A%2F%2Freprap.org%2Fwiki%2FHeated_Bed&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNED41ULXpiLWUYpYMy9Qg6xYMksXQ">heated beds</a>, as this reduces costs – a heated bed is not necessary,’ he explains.</p>
					</blockquote>	
				</div>
			</div>
		</div>
	</div>		
</section>
<section class="page-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
			</div>
			<div class="col-md-6">
				<div class="entry-content">
				<blockquote>
					<h3>A whole-of-life view</h3>
					<p>According to LCA experts, the most important ‘green’ aspect of 3D printing is determined by the embodied energy within the base material used for printing.</p>
					<p>The most commonly used material, apart from metal, is plastic, in particular, acrylonitrile butadiene styrene (ABS) and polylactic acid (PLA). ABS is a petroleum-based polymer, and thus less environmentally friendly, whereas PLA is a biodegradable corn-based plastic.</p>
					<p>Depending on what your base material is, it can have a high or low environmental impact before you even print, explains CSIRO senior scientist, <a href="http://www.google.com/url?q=http%3A%2F%2Fwww.csiro.au%2FOrganisation-Structure%2FDivisions%2FEcosystem-Sciences%2FGregFoliente.aspx&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNFdhmp1eGaoB9qhjITvYacOjt50YQ">Greg Foliente</a>.</p>
					<p>If it will print things from waste plastic, for instance, before you print you are already in good shape, environmentally.</p>
					<p>But, if you use a virgin material from high-impact resource with a high processing cost, like titanium, it pushes the boundary. So, if you have a cheap and low environmental-impact based material, then you’re already on a winner.</p>
					</div>
				</blockquote>	
			</div>
		</div>
	</div>		
</section>
<section class="page-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-push-6">
			</div>
			<div class="col-md-6 col-md-pull-6">
				<div class="entry-content">
					<blockquote>
						<h3>Material matters</h3>
						<p>Dr Foliente’s example of recycled plastic may soon be a reality. So-called <a  href="http://www.google.com/url?q=http%3A%2F%2Fwww.academia.edu%2F2643418%2FDistributed_Recycling_of_Waste_Polymer_into_RepRap_Feedstock&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNHQBN-ujv5eqdr7t9goQqI2RpjyzA">‘RecycleBots’</a> are being developed that will reuse plastic from failed print runs, milk bottles and the like, instead of the standard plastic filament used by desktop printers.</p>
						<p>An LCA takes in the energy use and GHG emissions for every aspect of production, from the extraction of raw material to the finished product. Only one LCA study on desktop 3D printers has been published, from Prof. Pearce’s Michigan lab.His team found that not just the type of base material, but the quantity used, can make the difference in environmental credentials between 3D printing and conventional fabrication.</p>
						<p>The study compared the embodied energy and GHG emissions of three everyday objects – a child’s building block, a watering can spout and a citrus juicer – produced by conventional manufacturing and 3D printing using ABS and PLA plastics.</p>
						<p>As long as the ‘fill’ of the plastic objects printed was less than 79 per cent (ie the objects were not 100 per cent solid plastic), the cumulative energy demand (CED) was less for the objects made on a 3D printer.</p>
						<p>For objects printed with PLA at less than 25 per cent fill, which the authors say is easily achieved, the CED could be reduced by 41–64 per cent; and by even more (55–74 per cent) when using solar power to drive the printer – a pretty impressive reduction, by any standards.</p>
						<p>As Prof. Pearce concludes: ‘The bottom line is that in most cases, printing objects at home uses less energy and creates less emissions than sourcing products using conventional manufacturing and distribution techniques.’”</p>
					</blockquote>
					<p><a href="http://www.google.com/url?q=http%3A%2F%2Fwww.ecosmagazine.com%2F%3Fpaper%3DEC13276%23FN2&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNEvewwTn9_88l6weqR1dDdT784vuQ">(Ecosmagazine)</a></p>
				</div>
			</div>
		</div>
	</div>		
</section>