<nav id="navheader" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ng-href="#">Printing Reality</a>
		</div>
	
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><a ng-href="#/archive">Arkiv</a></li>
				<li><a ng-href="#/about">Om Oss</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="cartmenu" ng-href="#/cart">Kundvagn ({{cart.length}})</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div>
</nav>